<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>HTML</title>
</head>
<body>
    <h1>
        Formulir
    </h1>
    <img src="http://localhost:5000/images/foto/PNG_transparency_demonstration_2.png">
    <form action="http://localhost:5000/post" method="post">
    <p>
        Nama: <input name="nama" type="text" placeholder="Ketik nama Anda"></p>
    <p>
        Pass: <input name="pass" type="password" placeholder="Ketik password">
    </p>
    <p>
        <input type="submit">
    </p>
    </form>
</body>
</html>