<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- internal style -->
    <style>
        h2 {
            color: aqua;font-family: Arial
        }
    </style>
    <!-- eksternal style: berada dalam folder static agar dapat diakses oleh file python/framework flask -->
    <link rel="stylesheet" type="text/css" href="../static/gaya.css" 
</head>
<!-- inline style -->
<body style='background-color:black; color:white;font-family:Impact'>
    <center>
        <br><br><br>
        <h1>
            404 not found
        </h1>
        <h2>
            Halo, apa kabar?
        </h2>
        <h3>
            Style dari eksternal
        </h3>
    </center>
</body>
</html>