<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titanic</title>
</head>
<body>
    <h2>
        Titanic Survivor Predict Page
    </h2>
    <p style="font-size: 20px">pclass: {{data[0]}}</p>
    <p style="font-size: 20px">age: {{data[1]}}</p>
    <p style="font-size: 20px">sibsp: {{data[2]}}</p>
    <p style="font-size: 20px">parch: {{data[3]}}</p>
    <p style="font-size: 20px">fare: {{data[4]}}</p>
    <p style="font-size: 20px">adult_male: {{data[5]}}</p>
    <p style="font-size: 20px">alone: {{data[6]}}</p>
    <p style="font-size: 20px">female: {{data[7]}}</p>
    <p style="font-size: 20px">male: {{data[8]}}</p>
    <p style="font-size: 20px">child: {{data[9]}}</p>
    <p style="font-size: 20px">man: {{data[10]}}</p>
    <p style="font-size: 20px">woman: {{data[11]}}</p>
    <p style="font-size: 20px">Zpredict: {{data[12][0]}}</p>
</body>
</html>