<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Titanic</title>
</head>
<body>
    <h1>Titanic Survivor</h1>
    <h3>Post</h3>
    <ul>
        <li>
            <pre>/postTitanic</pre> <!--preformatted text, untuk text yang butuh spacing dan linebreak sesuai dengan yang diketik-->
            <p>JSON Body request</p>
            <pre style="background-color: grey">
                {
                    "sex":[male/female],
                    "pclass":[number],
                    "age":[number],
                    "sibsp":[number],
                    "parch":[number],
                    "fare":[number]
                }
                <!-- {
                    "adult_male": [number], "age": [number], "alone": [number],
                    "child": [number], "fare": [number], "female": [number],
                    "male": [number], "man": [number], "parch": [number],
                    "pclass": [number], "sibsp": [number], "woman": [number],
                } -->
            </pre>
        </li>
    </ul>
    <h3>GET</h3>
    <ul>
        <li>
            <a href="/prediksi">
            <pre>Prediksi</pre>
            </a>
        </li>
    </ul>
</body>
</html>