<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Error</title>
    <!-- <style>
        body{
            background: lightblue;
            font-family: impact;
            color: white
        }
        h1{
            text-align: center;
            font-size: 70px;
            text-transform: uppercase;
            letter-spacing: 2px
        }
        .p1{
            font-size: 30px;
            text-align: center
        }
        #p2{
            font-size: 15px;
            text-align: center    
        }
    </style> -->
    <link rel="stylesheet" type="text/css" href="../static/error.css">
</head>
<body>
    <h1>
        404 not found
    </h1>
    <p class="p1">www.belajarflask.id</p>
    <p id="p2">Selamat belajar~</p>
</body>
</html>